h1 {
  @apply text-3xl font-black sm:text-4xl;
  letter-spacing: 0.005em;
}

h2 {
  @apply text-2xl font-bold sm:text-3xl;
}

h3 {
  @apply text-xl pb-2 font-medium sm:text-2xl;
}

a {
  @apply cursor-pointer font-medium text-black;
  text-decoration: none;
  :hover {
    color: var(--darkColor2);
  }
}

a.noHoverColor {
  :hover {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
}

.highlight {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--darkColor2);
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
  &-inverted {
    text-decoration-color: var(--color2);

    :hover {
      color: var(--color2);
    }
  }
  :hover {
    color: var(--darkColor2);
  }
}
.dark .highlight {
  text-decoration-color: var(--color2);
  &-inverted {
    text-decoration-color: var(--darkColor2);

    :hover {
      color: var(--darkColor2);
    }
  }
  :hover {
    color: var(--color2);
  }
}

.dark a {
  :hover {
    color: var(--color2);
  }
}

.nightwind-prevent.highlight,
.nightwind-prevent-block .highlight {
  text-decoration-color: var(--darkColor2);
  :hover {
    color: var(--darkColor2);
  }
}
