:root {
  --black: #0f1115;
  --white: #fff;
}
.dark {
  --black: #fff;
  --white: #0f1115;
}

.clickable {
  @apply cursor-pointer font-medium;

  &.active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: theme("colors.blue.600");
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
  }
}

.imageContainer > div {
  min-width: 100%;
}

.drop-shadow-random {
  filter: drop-shadow(0 0 2.5px theme("colors.blue.300"));
}

.drop-shadow-random-strong {
  filter: drop-shadow(0 0 30px theme("colors.blue.300"));
}
